$color-texto: #444;
$color-white: #fefefe;
$color-white-trans: #fefefe88;
$color-rosa-trans: #feaafe88;

$bg-comun: #00000050;
$bg-fondo-particulas: transparent;

$img-fondo: '../img/hero-dark.jpg';
$img-fondo-animado: '../img/fondo.gif';
