@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


a {
  color: #444;
}

body {
  background-color: #eaeaea;
  font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow-x: hidden;
  color: #444;
}

h1 {
  background-color: #fefefe88;
  border-bottom: 2px solid darkgreen;
  color: darkgreen;
  font-size: 2em;
  text-align: center;
  text-shadow: 1px 1px 2px #00000050;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 10px;
}

h5 {
  font-size: 0.9em;
}

.bg-propio {
  background: url('../img/hero-dark.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white !important;
}

.card-img-top {
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 230px;
  width: auto;
}

.text {
  color: #444 !important;
}

.text-white {
  color: #ccc !important;
}

.card-text {
  padding-top: 10px;
}

.card {
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}

.title h1 {
  color: #FFF;
  background-image: url('../img/fuego.webp');
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2em;
  margin: 10px 0;
}
